services:
  web:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - tonelab-network

  mongo:
    image: mongo:7.0
    restart: always
    container_name: mongodb
    environment:
      MONGO_INITDB_DATABASE: tonelabdb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - tonelab-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

volumes:
  mongo_data:

networks:
  tonelab-network:
    driver: bridge
